*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

body {
  background-color: hsl(0, 0%, 98%);
}

img {
  font-style: italic;
}

.nav {
  position: sticky;
  width: 100%;
  top: 0;
  padding: 2.5em 2em;
  background-color: hsl(0, 0%, 98%);
  z-index: 100;
  box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.0509803922);
}
.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__links-desktop {
  display: none;
}
.nav__links-mobile {
  position: fixed;
  top: 8em;
  height: 100vh;
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(270, 9%, 17%);
  overflow: hidden;
  transform: translateX(200%);
  transition: transform 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 90;
}
.nav__links-mobile.active {
  transform: translateX(0);
}
.nav__links-mobile .nav__link {
  position: relative;
  text-align: center;
  display: block;
  width: 100%;
  font-family: "Karla", sans-serif;
  padding: 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  font-size: 2.2rem;
  letter-spacing: 1px;
  transition: color 0.3s, background-color 0.3s;
}
.nav__links-mobile .nav__link::before {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0);
  bottom: 0.8em;
  width: 15%;
  height: 2px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 98%);
  transform-origin: center;
  transition: transform 0.4s;
}
.nav__links-mobile .nav__link:hover::before {
  transform: translateX(-50%) scale(1);
}
.nav__links-mobile .nav__link:hover:nth-child(4) {
  background-color: hsl(0, 0%, 98%);
  color: hsl(270, 9%, 17%);
}
.nav__links-mobile .nav__link:nth-child(4) {
  max-width: 350px;
  margin-block-start: 0.5em;
  padding: 0.6em;
  border: 2px solid hsl(0, 0%, 98%);
}
.nav__links-mobile .nav__link:nth-child(4)::before {
  display: none;
}
.nav__links-mobile .nav__link:first-child {
  padding: 2em 1em 1em;
}
.nav__mobile-bg {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 5%;
  inset-inline: 0;
  z-index: -1;
}
.nav__burger-btn {
  display: block;
  padding: 0.5em;
  cursor: pointer;
  background: none;
  border: 2px solid hsl(270, 9%, 17%);
}
.nav__burger-btn-box {
  position: relative;
  width: 20px;
  height: 20px;
}
.nav__burger-btn-bar {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: hsl(270, 9%, 17%);
  border-radius: 20px;
}
.nav__burger-btn-bar--top {
  top: 3px;
}
.nav__burger-btn-bar--middle {
  top: 9px;
  transition: opacity 0.5s;
}
.nav__burger-btn-bar--bottom {
  top: 15px;
}

.header {
  position: relative;
  background-color: hsl(256, 26%, 20%);
  z-index: 0;
}
.header__img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.header .desktop-visible {
  display: none;
}
.header__pattern {
  position: absolute;
  z-index: -1;
}
.header__pattern--left {
  top: 0;
  left: 0;
}
.header__pattern--right {
  bottom: 0;
  right: 0;
  transform: translateY(50%);
}
.header__pattern-desktop {
  display: none;
}
.header__box {
  position: relative;
  padding: 8em 2em;
  text-align: center;
}
.header__title {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: hsl(0, 0%, 98%);
  line-height: 45px;
}
.header__text {
  margin: 1em 0 2em;
  font-size: 1.7rem;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 98%, 0.804);
  line-height: 25px;
}
.header__btn {
  padding: 0.8em 2.5em;
  text-transform: uppercase;
  color: hsl(0, 0%, 98%);
  background: none;
  border: 2px solid hsl(0, 0%, 98%);
  font-family: "Karla", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.header__btn:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(270, 9%, 17%);
}

.cards {
  position: relative;
  padding: 12em 0 10em;
}
.cards__title {
  position: relative;
  margin-block-end: 0.8em;
  font-size: 3.6rem;
  font-family: "DM Serif Display", sans-serif;
  text-align: center;
  font-weight: 400;
}
.cards__title::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 1px;
  background-color: hsl(273, 4%, 51%);
  border-radius: 20px;
}
.cards__card {
  text-align: center;
  padding: 2em;
}
.cards__body-title {
  margin: 1em 0 0.5em;
  font-size: 2.5rem;
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
}
.cards__text {
  font-size: 1.7rem;
  line-height: 25px;
  color: hsl(273, 4%, 51%);
  font-family: "Karla", sans-serif;
}

.more {
  padding: 2em 2em 20em;
}
.more-bg {
  position: absolute;
  z-index: -1;
}
.more-bg-desktop {
  display: none;
}
.more-bg-mobile {
  top: 0;
  right: 0;
}
.more__box {
  width: min(1200px, 100%);
  margin: 0 auto;
  position: relative;
  padding: 8em 2em;
  text-align: center;
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  z-index: 0;
  overflow: hidden;
}
.more__title {
  font-size: 4rem;
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  line-height: 45px;
}
.more__btn {
  padding: 0.9em 2.5em;
  margin-block-start: 2em;
  text-transform: uppercase;
  background: none;
  border: 2px solid hsl(0, 0%, 98%);
  font-family: "Karla", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(0, 0%, 98%);
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.more__btn:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(270, 9%, 17%);
}

.footer {
  position: relative;
  padding: 6em 2em;
  z-index: 0;
  background-color: hsl(0, 0%, 98%);
  overflow: hidden;
}
.footer hr {
  opacity: 0.5;
  margin: 6em 0;
}
.footer-bg {
  position: absolute;
  z-index: -1;
}
.footer-bg-desktop {
  display: none;
}
.footer-bg-mobile {
  width: 100%;
  top: 0;
  left: 0;
}
.footer__head {
  text-align: center;
}
.footer__social {
  margin-block-start: 2.5em;
  display: flex;
  justify-content: center;
  gap: 1.5em;
}
.footer__social .fa-brands {
  text-decoration: none;
  color: #837D88;
  font-size: 2.8rem;
  transition: color 0.3s;
}
.footer__social .fa-brands:hover {
  color: hsl(270, 9%, 17%);
}
.footer__body {
  text-align: center;
  text-transform: uppercase;
}
.footer__list {
  list-style-type: none;
  margin: 4em 0;
  letter-spacing: 2px;
  font-family: "Karla", sans-serif;
}
.footer__text {
  display: block;
  margin-block-end: 2em;
  font-size: 1.6rem;
  color: hsl(273, 4%, 51%);
  font-weight: 400;
}
.footer__link {
  display: block;
  padding: 0.5em 0;
  font-size: 1.6rem;
  text-decoration: none;
  color: hsl(270, 9%, 17%);
  font-weight: 700;
}
.footer__link:hover {
  text-decoration: underline;
}

.nav__burger-btn[aria-expanded=true] .nav__burger-btn-bar--top {
  animation: top-middle 0.4s forwards;
}

.nav__burger-btn[aria-expanded=true] .nav__burger-btn-bar--middle {
  opacity: 0;
}

.nav__burger-btn[aria-expanded=true] .nav__burger-btn-bar--bottom {
  animation: bottom-middle 0.4s forwards;
}

.nav__burger-btn[aria-expanded=false] .nav__burger-btn-bar--top {
  animation: top-back 0.4s forwards;
}

.nav__burger-btn[aria-expanded=false] .nav__burger-btn-bar--middle {
  opacity: 1;
}

.nav__burger-btn[aria-expanded=false] .nav__burger-btn-bar--bottom {
  animation: bottom-back 0.4s forwards;
}

@keyframes bottom-middle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(-6px) rotate(-225deg);
  }
}
@keyframes top-middle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(6px) rotate(225deg);
  }
}
@keyframes bottom-back {
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  0% {
    transform: translateY(-6px) rotate(-225deg);
  }
}
@keyframes top-back {
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  0% {
    transform: translateY(6px) rotate(225deg);
  }
}
@media (576px <= width) {
  .nav__mobile-bg {
    bottom: -15%;
  }
  .header__title {
    font-size: 4.6rem;
    line-height: 50px;
  }
  .header__btn {
    font-size: 1.5rem;
  }
  .cards {
    padding: 20em 2em 10em;
  }
  .cards__title {
    margin-block-end: 1.2em;
  }
  .cards__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cards__card {
    width: 50%;
  }
  .more__title {
    font-size: 4.2rem;
  }
  .footer__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__social {
    margin: 0;
  }
  .footer__body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer__list {
    width: 50%;
  }
}
@media (700px <= width) {
  .nav__links-mobile {
    display: none;
  }
  .nav__burger-btn {
    display: none;
  }
  .nav__links-desktop {
    display: flex;
    gap: 1em;
  }
  .nav__links-desktop .nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Karla", sans-serif;
    color: hsl(273, 4%, 51%);
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: color 0.3s, background-color 0.3s;
  }
  .nav__links-desktop .nav__link:hover {
    color: hsl(270, 9%, 17%);
  }
  .nav__links-desktop .nav__link:nth-child(4) {
    padding: 0.6em 2em;
    border: 2px solid hsl(270, 9%, 17%);
    color: hsl(270, 9%, 17%);
  }
  .nav__links-desktop .nav__link:nth-child(4):hover {
    background-color: hsl(270, 9%, 17%);
    color: hsl(0, 0%, 98%);
  }
  .header .wrapper {
    display: flex;
  }
  .header .mobile-visible {
    display: none;
  }
  .header .desktop-visible {
    display: block;
  }
  .header__title {
    font-size: 4.6rem;
  }
  .header__btn {
    font-size: 1.5rem;
  }
  .header__img {
    order: 1;
    width: 50%;
  }
  .header__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 50%;
  }
  .header__pattern--right {
    display: none;
  }
  .cards__title {
    font-size: 5rem;
  }
}
@media (768px <= width) {
  .more__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6em 4em;
  }
  .more__title {
    font-size: 4.5rem;
  }
  .more__text {
    text-align: left;
    width: 50%;
  }
  .more-bg-mobile {
    display: none;
  }
  .more-bg-desktop {
    display: block;
    height: 100%;
    top: 0;
    right: 0;
  }
  .footer__list {
    width: 33%;
  }
  .footer-bg-mobile {
    display: none;
  }
  .footer-bg-desktop {
    display: block;
    left: 0;
    top: 0;
    width: 45%;
  }
}
@media (992px <= width) {
  .header {
    z-index: 0;
  }
  .header__title {
    font-size: 5.5rem;
    position: relative;
  }
  .header__title::before {
    display: block;
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 150px;
    height: 2px;
    border-radius: 20px;
    background-color: hsl(273, 4%, 51%);
  }
  .header__pattern--left {
    display: none;
  }
  .header__box {
    padding: 10em 4em;
  }
  .header__pattern-desktop {
    display: block;
    position: absolute;
  }
  .header__pattern-desktop--left {
    bottom: 0;
    transform: translateY(50%);
    left: 0;
    z-index: -1;
  }
  .header__pattern-desktop--right {
    top: 0;
    right: 0;
    width: min(500px, 30%);
  }
  .header__img {
    position: relative;
    top: 12em;
  }
  .cards {
    padding: 30em 2em 15em;
  }
  .cards__box {
    justify-content: space-between;
  }
  .cards__card {
    width: 33%;
    text-align: left;
  }
  .cards__title {
    text-align: left;
  }
  .cards__title::before {
    left: 0;
    top: -40px;
    transform: translateX(0);
  }
  .cards__body-title {
    margin: 1em 0 0.8em;
  }
  .more__box {
    padding: 6em 8em;
  }
  .more__title {
    font-size: 4.8rem;
  }
  .footer__list {
    width: 25%;
    text-align: left;
  }
  .footer__social {
    gap: 2em;
  }
}
@media (1200px <= width) {
  .nav__links-desktop {
    gap: 2em;
    font-size: 1.4rem;
  }
  .header__title {
    font-size: 6.9rem;
    line-height: 60px;
  }
  .header__title::before {
    top: -40px;
  }
  .header__text {
    line-height: 28px;
    margin: 1.5em 0 2em;
  }
  .header__btn {
    font-size: 1.7rem;
  }
  .more__title {
    font-size: 5.2rem;
    line-height: 55px;
  }
}/*# sourceMappingURL=style.css.map */