@use './_colors' as *;

$headingFf: 'DM Serif Display', sans-serif;
$bodyFf: 'Karla', sans-serif;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

body {
    background-color: $veryLightGray;
}

img {
    font-style: italic;
}

.nav {
    position: sticky;
    width: 100%;
    top: 0;
    padding: 2.5em 2em;
    background-color: $veryLightGray;
    z-index: 100;
    box-shadow: 5px 5px 10px #2e2e2e0d;

        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    &__links-desktop {
        display: none;
    }
    &__links-mobile {
        position: fixed;
        top: 8em;
        height: 100vh;
        width: 100%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $veryDarkViolet;
        overflow: hidden;
        transform: translateX(200%);
        transition: transform .4s cubic-bezier(0.65, 0.05, 0.36, 1);
        z-index: 90;

        &.active {
            transform: translateX(0);
        }

        .nav__link {
            position: relative;
            text-align: center;
            display: block;
            width: 100%;
            font-family: $bodyFf;
            padding: 1em;
            text-transform: uppercase;
            text-decoration: none;
            color: $veryLightGray;
            font-size: 2.2rem;
            letter-spacing: 1px;
            transition: color .3s, background-color .3s;

            &::before {
                display: block;
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%) scale(0);
                bottom: .8em;
                width: 15%;
                height: 2px;
                border-radius: 20px;
                background-color: $veryLightGray;
                transform-origin: center;
                transition: transform .4s;
            }
            &:hover::before {
                transform: translateX(-50%) scale(1);
            }
            &:hover:nth-child(4) {
                background-color: $veryLightGray;
                color: $veryDarkViolet;
            }
            &:nth-child(4) {
                max-width: 350px;
                margin-block-start: .5em;
                padding: .6em;
                border: 2px solid $veryLightGray;

                &::before {
                    display: none;
                }
            }
            &:first-child {
                padding: 2em 1em 1em;
            }

        }
    }

    &__mobile-bg {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 5%;
        inset-inline: 0;
        z-index: -1;
    }
    

    &__burger-btn {
        display: block;
        padding: 0.5em;
        cursor: pointer;
        background: none;
        border: 2px solid $veryDarkViolet;
    }
    &__burger-btn-box {
        position: relative;
        width: 20px;
        height: 20px;
    }
    &__burger-btn-bar {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $veryDarkViolet;
        border-radius: 20px;

        &--top {
            top: 3px;
        }
        &--middle {
            top: 9px;
            transition: opacity .5s;
        }
        &--bottom {
            top: 15px;
        }
    }
}


// HEADER

.header {
    position: relative;
    background-color: $darkViolet;
    z-index: 0;

    &__img {
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .desktop-visible {
        display: none;
    }
    &__pattern {
        position: absolute;
        z-index: -1;

        &--left {
            top: 0;
            left: 0;
        }
        &--right {
            bottom: 0;
            right: 0;
            transform: translateY(50%);
        }
    }
    &__pattern-desktop {
        display: none;
    }

    &__box {
        position: relative;
        padding: 8em 2em;
        text-align: center;
    }
    &__title {
        font-family: $headingFf;
        font-weight: 400;
        font-size: 4rem;
        color: $veryLightGray;
        line-height: 45px;
    }
    &__text {
        margin: 1em 0 2em;
        font-size: 1.7rem;
        font-family: $bodyFf;
        font-weight: 400;
        color: hsla(0, 0%, 98%, 0.804);
        line-height: 25px;
    }
    &__btn {
        padding: .8em 2.5em;
        text-transform: uppercase;
        color: $veryLightGray;
        background: none;
        border: 2px solid $veryLightGray;
        font-family: $bodyFf;
        font-size: 1.4rem;
        font-weight: 700;
        cursor: pointer;
        transition: color .3s, background-color .3s;

        &:hover {
            background-color: $veryLightGray;
            color: $veryDarkViolet;
        }
    }
}


// SECTION CARDS

.cards {
    position: relative;
    padding: 12em 0 10em;

    &__title {
        position: relative;
        margin-block-end: .8em;
        font-size: 3.6rem;
        font-family: $headingFf;
        text-align: center;
        font-weight: 400;

        &::before {
            content: '';
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: 150px;
            height: 1px;
            background-color: $grayedViolet;
            border-radius: 20px;
        }
    }

    &__card {
        text-align: center;
        padding: 2em;
    }

    &__body-title {
        margin: 1em 0 .5em;
        font-size: 2.5rem;
        font-family: $headingFf;
        font-weight: 400;
    }
    &__text {
        font-size: 1.7rem;
        line-height: 25px;
        color: $grayedViolet;
        font-family: $bodyFf;
    }

}



// MORE SECTION

.more {
    padding: 2em 2em 20em;

    &-bg {
        position: absolute;
        z-index: -1;
    }
    &-bg-desktop {
        display: none;
    }
    &-bg-mobile {
        top: 0;
        right: 0;
    }
    &__box {
        width: min(1200px, 100%);
        margin: 0 auto;
        position: relative;
        padding: 8em 2em;
        text-align: center;
        background-color: $darkViolet;
        color: $veryLightGray;
        z-index: 0;
        overflow: hidden;
    }
    &__title {
        font-size: 4rem;
        font-family: $headingFf;
        font-weight: 400;
        line-height: 45px;
    }
    &__btn {
        padding: .9em 2.5em;
        margin-block-start: 2em;
        text-transform: uppercase;
        background: none;
        border: 2px solid $veryLightGray;
        font-family: $bodyFf;
        font-size: 1.4rem;
        font-weight: 700;
        color: $veryLightGray;
        cursor: pointer;
        transition: color .3s, background-color .3s;

        &:hover {
            background-color: $veryLightGray;
            color: $veryDarkViolet;
        }
    }
  
}


// FOOTER SECTION


.footer {
    position: relative;
    padding: 6em 2em;
    z-index: 0;
    background-color: $veryLightGray;
    overflow: hidden;

    hr {
        opacity: 0.5;
        margin: 6em 0;
    }
    &-bg {
        position: absolute;
        z-index: -1;
    }
    &-bg-desktop {
        display: none;
    }
    &-bg-mobile {
        width: 100%;
        top: 0;
        left: 0;
    }
    &__head {
        text-align: center;
    }
    &__social {
        margin-block-start: 2.5em;
        display: flex;
        justify-content: center;
        gap: 1.5em;

        .fa-brands {
            text-decoration: none;
            color: #837D88;
            font-size: 2.8rem;
            transition: color .3s;

            &:hover {
                color: $veryDarkViolet;
            }
        }
        
    }

    &__body {
        text-align: center;
        text-transform: uppercase;
    }
    &__list {
        list-style-type: none;
        margin: 4em 0;
        letter-spacing: 2px;
        font-family: $bodyFf;
    }
    &__text {
        display: block;
        margin-block-end: 2em;
        font-size: 1.6rem;
        color: $grayedViolet;
        font-weight: 400;
    }
    &__link {
        display: block;
        padding: 0.5em 0;
        font-size: 1.6rem;
        text-decoration: none;
        color: $veryDarkViolet;
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }
}


// ARIA
.nav__burger-btn[aria-expanded='true'] .nav__burger-btn-bar--top {
    animation: top-middle .4s forwards;
}

.nav__burger-btn[aria-expanded='true'] .nav__burger-btn-bar--middle {
    opacity: 0;
}

.nav__burger-btn[aria-expanded='true'] .nav__burger-btn-bar--bottom {
    animation: bottom-middle .4s forwards;
}


.nav__burger-btn[aria-expanded='false'] .nav__burger-btn-bar--top {
    animation: top-back .4s forwards;
}

.nav__burger-btn[aria-expanded='false'] .nav__burger-btn-bar--middle {
    opacity: 1;
}

.nav__burger-btn[aria-expanded='false'] .nav__burger-btn-bar--bottom {
    animation: bottom-back .4s forwards;
}



// ANIMATIONS

@keyframes bottom-middle {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(-6px) rotate(-225deg);
    }
}

@keyframes top-middle {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    100% {
        transform: translateY(6px) rotate(225deg);
    }
}

@keyframes bottom-back {
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
    0% {
        transform: translateY(-6px) rotate(-225deg);
    }
}

@keyframes top-back {
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    0% {
        transform: translateY(6px) rotate(225deg);
    }
}


// ================== MEDIA =====================


@media(576px <= width) {
    .nav {
        &__mobile-bg {
            bottom: -15%;
        }
    }
    .header {
        &__title {
            font-size: 4.6rem;
            line-height: 50px;
        }
        &__btn {
            font-size: 1.5rem;
        }
    }
    .cards {
        padding: 20em 2em 10em;
        &__title {
            margin-block-end: 1.2em;
        }
        &__box {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__card {
            width: 50%;
        }
    }
    .more {

        &__title {
            font-size: 4.2rem;
        }
    }

    .footer {
        &__head {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__social {
            margin: 0;
        }

        &__body {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__list {
            width: 50%;
        }
    }
}


@media(700px <= width) {
    .nav {
        &__links-mobile {
            display: none;
        }
        &__burger-btn {
            display: none;
        }
        &__links-desktop {
            display: flex;
            gap: 1em;

            .nav__link {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                padding: 1em;
                text-transform: uppercase;
                text-decoration: none;
                font-family: $bodyFf;
                color: $grayedViolet;
                font-size: 1.3rem;
                font-weight: 700;
                letter-spacing: 1px;
                transition: color .3s, background-color .3s;

                &:hover {
                    color: $veryDarkViolet;
                }

                &:nth-child(4) {
                    padding: .6em 2em;
                    border: 2px solid $veryDarkViolet; 
                    color: $veryDarkViolet;
                    
                    &:hover {
                        background-color: $veryDarkViolet;
                        color: $veryLightGray;
                    }
                }
            }
        }
    }
    .header {
        .wrapper {
            display: flex;
        }
        .mobile-visible {
            display: none;
        }
        .desktop-visible {
            display: block;
        }
        &__title {
            font-size: 4.6rem;
        }
        &__btn {
            font-size: 1.5rem;
        }
        &__img {
            order: 1;
            width: 50%;
        }
        &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            width: 50%;
        }
        &__pattern {
            &--right {
                display: none;
            }
        }
    }
    .cards {
        &__title {
            font-size: 5rem;
        }
    }
}

@media(768px <= width) {
    .more {
        &__box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 6em 4em;
        }
        &__title {
            font-size: 4.5rem;
        }
        &__text {
            text-align: left;
            width: 50%;
        }
        &-bg-mobile {
            display: none;
        }
        &-bg-desktop {
            display: block;
            height: 100%;
            top: 0;
            right: 0;
        }
    }
    .footer {

        &__list {
            width: 33%;
            text-align: left;
        }
        &-bg-mobile {
            display: none;
        }
        &-bg-desktop {
            display: block;
            left: 0;
            top: 0;
            width: 45%;
        }
    }
}

@media(992px <= width) {
    .header {
        z-index: 0;
        &__title {
            font-size: 5.5rem;
            position: relative;

            &::before {
                display: block;
                content: '';
                position: absolute;
                top: -20px;
                left: 0;
                width: 150px;
                height: 2px;
                border-radius: 20px;
                background-color: $grayedViolet;
            }
        }
        &__pattern {
            &--left {
                display: none;
            }
        }
        &__box {
            padding: 10em 4em;
        }
        &__pattern-desktop {
            display: block;
            position: absolute;

            &--left {
                bottom: 0;
                transform: translateY(50%);
                left: 0;
                z-index: -1;
            }
            &--right {
                top: 0;
                right: 0;
                width: min(500px, 30%);
            }
        }
        &__img {
            position: relative;
            top: 12em;
        }
    }
    .cards {
        padding: 30em 2em 15em;

        &__box {
            justify-content: space-between;
        }
        &__card {
            width: 33%;
            text-align: left;
        }
        &__title {
            text-align: left;
            
            &::before {
                left: 0;
                top: -40px;
                transform: translateX(0);
            }
        }
        &__body-title {
            margin: 1em 0 .8em;
        }
    }
    .more {
        &__box {
            padding: 6em 8em;
        }
        &__title {
            font-size: 4.8rem;
        }
    }

    .footer {
        &__list {
            width: 25%;
        }
    }

}


@media(1200px <= width) {
    .nav {
        &__links-desktop {
            gap: 2em;
            font-size: 1.4rem;
        }
    }
    .header {

        &__title {
            font-size: 6.9rem;
            line-height: 60px;

            &::before {
                top: -40px;
            }
        }
        &__text {
            line-height: 28px;
            margin: 1.5em 0 2em;
        }
        &__btn {
            font-size: 1.7rem;
        }
    }
    .more {
        &__title {
            font-size: 5.2rem;
            line-height: 55px;
        }
    }
  
}